<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.supermarket.mapper.ProductMapper">
  <select id="selectByName" resultType="java.lang.String">
    select count(*)
    from product
    where pname=#{name}
  </select>
    <select id="showResult">
        select pname,p_count,p_price,sold_count,p_title,p_discount,support_province,support_city
        from product
    </select>
  <select id="selectCount" resultType="com.ma.supermarket.bean.Product">
    select  p_count
    where pid=#{id}
    from product
  </select>
  <select id="updateOne" resultType="com.ma.supermarket.bean.Product">
      select sold_count
      from product
      where pid=#{id}
  </select>
    <delete id="deleteOne">
        delete from product
        where pid=#{id}
    </delete>
</mapper>