<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.supermarket.mapper.UserMapper">
  <select id="findUserByName" resultType="java.lang.Integer">
        select  count(*)  from user
        where uname=#{uname}
    </select>
  <insert id="regist" parameterType="com.ma.supermarket.bean.User">
       insert into user(uname,uaccount,upassword,urole,address,telephone,realname,role_id)
       values(#{uname},#{uaccount},#{upassword},#{urole},#{address},#{telephone},#{realname},#{role_id})
    </insert>
  <select id="login" parameterType="com.ma.supermarket.bean.User">
        select  uaccount,upassword,urole from user
        where uaccount=#{uaccount} and upassword=#{password} and urole=#{urole}
    </select>

    <select id="selectRole" parameterType="java.lang.Integer">
     select role_id from user
     where  urole=#{role}
    </select>

</mapper>